<h1>Bibligo</h1>

<h3>Add new book</h3>

<form action="/save" method="POST">
	<table>
		<tr>
			<td><b>Title:</b></td>
			<td><input type="text" name="title" /></td>
		</tr>
		<tr>
			<td><b>Authors:</b></td>
			<td><input type="text" name="authors" /></td>
		</tr>
		<tr>
			<td>Subitle:</td>
			<td><input type="text" name="subtitle" /></td>
		</tr>
		<tr>
			<td>Edition:</td>
			<td><input type="text" name="edition" /></td>
		</tr>
	</table>
	<div><input type="submit" value="Add" /></div>
</form>